<header>
  <h1>Workout for <%= @date %></h1>
</header>

<body>
  <div class="row">
    <% @exercises.each do |name, data_array| %>
      <div class="column">
        <div class="card">
          <h3><%= name %></h3>
          <% data_array.each do |set| %>
            <% set.each do |weight, reps| %>
              <p><%= weight %> lbs X <%= reps %></p>
            <% end %>
          <% end %>
          
          <form action="/create/<%= @date %>" method="post">
            <div>
              <input id="date" name="date" type="hidden" value="<%= @date %>">
            </div>
            <div>
              <input id="exercise" name="exercise" type="hidden" value="<%= name %>">
            </div>
            <div>
              <label for="reps">Reps</label>
              <input id="reps" name="reps" type="number" min="0">
            </div>
            <div>
              <label for="weight">Weight</label>
              <input id="weight" name="weight" type="number" min="0" step="2.5">
            </div>
            <button type="submit">Add Set</button>
          </form>

        </div>
      </div>
    <% end %>
  </div>
</body>

<footer>
  <a href="/workout/<%= yesterday(@date) %>">Yesterday</a>
  <a href="/workout/<%= tomorrow(@date) %>">Tomorrow</a>
  <br>
  <br>
  <a href="/create/<%= @date %>">Add new exercise</a>
  <br>
</footer>